{% extends "base.html" %}

{% block content %}
<div class="card">
<div class="card-header">
    <h5>Depósito</h5>
</div>
<div class="card-body">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success mt-3" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="post" action="{{ url_for('fazer_deposito') }}">
        <div class="mb-3">
            <label for="valor" class="form-label">Valor</label>
            <input type="number" class="form-control" id="valor" name="valor" placeholder="Digite o valor do depósito" required>
        </div>
        <button type="submit" class="btn btn-primary">Confirmar Depósito</button>
    </form>
</div>
</div>
{% endblock %}