<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style2.css">
</head>
<body>

    <div class="login-container">
        <div> {% with mensagens = get_flashed_messages(with_categories=true) %}
            {% if mensagens %}
                {% for categoria, mensagem in mensagens %}
                    <div class="{{ categoria }}">{{ mensagem }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}</div>
        <h2>Login</h2>
        <form method="post">
            <input type="text" name="user" placeholder="Usuário" required><br>
            <input type="password" name="password" placeholder="Senha" required><br>
            <button type="submit" name="botao" value="entrar">Entrar</button>
            <button type="submit" name="botao" value="registrar">Registrar</button>
        </form>
    </div>

</body>
</html>