<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>App Receitas da Regi</title>
    <script>
        function adicionarIngrediente() {
            const container = document.getElementById("ingredientes");
            const input = document.createElement("input");
            input.type = "text";
            input.name = "ingredientes[]";
            container.appendChild(document.createElement("br"));
            container.appendChild(input);
        }
    </script>
</head>
<body>
    <h1>Nova receita</h1>
    <form method="POST" action="/nova">
        <label for="nome">Nome Receita</label>
        <input type="text" name="nome" required><br><br>

        <div id="ingredientes">
            <label>Ingredientes:</label><br>
            <input type="text" name="ingredientes[]" required>
        </div>
        <button type="button" onclick="adicionarIngrediente()">+ Ingrediente</button><br><br>

        <input type="submit" value="Salvar">
    </form>
    <br><a href="/">← Voltar à lista</a>
</body>
</html>