body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f3f2f2; 
    background-image: url('/ti96/aula10/entregas/Ramon e Felipe/img/10333694.jpg'); 
    background-size: cover;  
    background-position: center; 
    background-attachment: fixed; 
}
    h1, p, input, button, img {
        background-color: rgba(14, 15, 14, 0.8);
        padding: 20px;
        border-radius: 10px;
        display: inline-block;
        font-size: 40px;
    }

input[type="file"] {
    margin: 20px 0;
}
canvas {
    display: none;
}
img {
    max-width: 100%;
    height: auto;
}
button {
    padding: 10px 20px;
    background-color: #2e2d38;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}
button:hover {
    background-color: #f30808;
}
